.legal-wrapper {
	padding: 20px 48px;
	overflow: scroll;
	height: calc(100vh - 80px);
}

.legal-wrapper h2,
.legal-wrapper h3,
.legal-wrapper h4,
.legal-wrapper h5 {
	word-break: break-all;
	margin: 0;
}

.legal-wrapper p {
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.legal-wrapper a {
	word-break: break-all;
}
